doctype html
html(lang="en")
  head
    title= "Raysistance"
    //script(src='/app.js')
    link(href='/')
    script(src='/socket.io/socket.io.js')
  body
    #main
      #playersView.clearfix
        header="Players"
      #chat.wordwrap.clearfix
        header="Chat"
        #messagesDiv.table.table-bordered
        textarea#messageInput(type='text', placeholder="Message")
      button#startButton.btn(role='button')="Start Game!"
      button#chooseTeamButton.btn(disabled, role='button')="Choose Your Team!"

    //name prompt modal
    #nameModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='nameModalLabel', aria-hidden='true')
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3#nameModalLabel Modal header
      .modal-body
        p So ... what's your name?
        form#nameForm
          input#nameInput(type='text', placeholder='Tank')
          input(type='submit')
          // class="btn btn-primary" data-dismiss="modal" aria-hidden="true"
      .modal-footer
    //resistance identity modal
    #resistanceModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3#myModalLabel You're on the Resistance!!
      .modal-body
        p Choose your team wisely...the fate of the future lies on YOUR shoulders!
        img.identity(src='./img/resistance.png')
      .modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Close
        button.btn.btn-primary(data-dismiss='modal', aria-hidden='true') Continue
    //spy identity modal 
    #spyModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3#myModalLabel You are a SPY!!
      .modal-body
        p Your mission is to sabotage the mission! Become one of them ... gain their trust ... and foster discord
        img.identity(src='./img/spy_1.png')
      .modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Close
        button.btn.btn-primary(data-dismiss='modal', aria-hidden='true') Continue
    //vote team modal
    #voteModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3#myModalLabel Vote to Approve Team
      .modal-body
        p Do you want this team to go on the mission?
      .modal-footer
        button.btn.disapproveButton(data-dismiss='modal', aria-hidden='true') Disapprove
        button.btn.btn-primary.approveButton(data-dismiss='modal', aria-hidden='true') Approve
    //approved modal
    #approvedModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3#myModalLabel Team approved!!
      .modal-body
        p These brave souls are going on a perilous mission!
      .modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Close
        button.btn.btn-primary(data-dismiss='modal', aria-hidden='true') Continue
    //rejected modal
    #rejectedModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3#myModalLabel Team rejected!!
      .modal-body
        p Let's give it another try
      .modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Close
        button.btn.btn-primary(data-dismiss='modal', aria-hidden='true') Continue
    // missionModal
    #missionModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='nameModalLabel', aria-hidden='true')
      .modal-header
        h3#nameModalLabel Mission
      .modal-body
        p
          | You're on the mission. The success of the mission depends on you. What will you do?
        button.successButton(data-dismiss='modal', aria-hidden='true') success
        button.failButton(data-dismiss='modal', aria-hidden='true') fail

        
    //templates
    script#fireMessage(type='text/template')
      #message.clearfix
        .senderName 
          p <%- name %>:
        .messageContent 
          p <%- text %>

    script#playerTemplate(type='text/template')
      header <%- playerName %>
      img(src="./img/spy.png")

    // dependencies        
    script(src='/lib/jquery/jquery.js')
    script(src='/lib/underscore/underscore.js')
    script(src='/lib/backbone/backbone.js')
    script(src='/lib/firebase/firebase.js')
    script(src='/lib/backfire/backbone-firebase.js')
    script(src='/lib/bootstrap/js/bootstrap.js')
    link(rel='stylesheet', type='text/css', href='/lib/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/styles.css')
    
    // scripts
    script(src='/main.js')
    script(src='/app.js')
    script(src='/chat.js')



